@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-items a {
  opacity: 0.95;
  transition: opacity 0.3s ease;
}

.nav-items a:hover {
  opacity: 1;
}

.nav-items a:after {
  content: "";
  position: relative;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
}
.nav-items a:hover::after {
  width: 100%;
  height: 1px;
  opacity: 1;
  background-color: var(--text);
}

.navbar.responsive > .nav-items {
  animation: fade-in 0.5s ease;
}

.button-download,
.online-button,
.button-download.sm {
  scale: 0.95;
  transition: scale 0.2s;
}

.button-download:hover,
.online-button:hover,
.button-download.sm:hover {
  scale: 1;
}

.modal {
  animation: fade-in 0.3s ease;
}
