@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
    
  }
  to {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}

@keyframes hero-pop-in {
  from {
    top: 30vh;
  }
}

@keyframes banner-pop-in {
  from {
    top: 70%;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in.visible {
  opacity: 1;
}


.hero-wrapper {
  animation: hero-pop-in 1s ease forwards;
}

.banner.lg img {
  animation: banner-pop-in 1s ease forwards;
}

.nav-items a {
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.nav-items a:hover {
  opacity: 1;
}

.nav-items a:after {
  content: "";
  position: relative;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
}
.nav-items a:hover::after {
  width: 100%;
  height: 1px;
  opacity: 1;
  background-color: var(--text);
}

.navbar.responsive > .nav-items {
  animation: fade-in 0.5s ease;
}
