@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* General Styles */

:root {
  --background: #050c1f;
  --background-light: #0c1531;
  --text: #fff;
  --cta: #1a90ff;
  /* Font Sizes */
  --step-text: clamp(0.9rem, 0.2cqi + 0.9rem, 1.05rem);
  --step-md: clamp(1rem, 0.2cqi + 1rem, 1.5rem);
  --step-lg: clamp(1.4rem, 0.4cqi + 1.3rem, 1.8rem);
  --step-hero: clamp(30px, 6.5vw, 80px);
  --step-card-title: clamp(3rem, 3vw, 4rem);
  --step-xxxxl: clamp(2.5rem, 4.7vw, 8rem);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #242b42;
}
::-webkit-scrollbar-thumb {
  background: #576b75;
  height: 10px;
}

html {
  background: #050c1f;
}

body {
  min-height: 100vh;
  color: var(--text);
  font-family: "Inter", system-ui, sans-serif;
}

.radial-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.radial-wrapper .radial-bg {
  background: #0d3a63;
  animation: glow 2s alternate infinite;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  height: 1000px;
  z-index: -99;
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.6);
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

img {
  border-radius: 7px;
}

/* Navbar Styles */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 2.5%;
  margin: 0 12.5%;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  h1 {
    font-weight: 500;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 3rem;
  font-weight: 400;
  a {
    cursor: pointer;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-items.right {
  gap: 1.5rem;
  font-size: 1.5rem;
}

.fa-solid.fa-bars-staggered,
.fa-solid.fa-xmark {
  flex-grow: 1;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 2;
  display: none;
}

.fa-solid.fa-xmark {
  font-size: 2rem;
}

#nav-item-icon {
  display: none;
}

/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-flow: 1;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background: rgba(12, 15, 36, 0.5);
  text-wrap: pretty;
  font-size: var(--step-md);
  gap: 1rem;
  margin: auto;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  width: clamp(300px, 50vw, 600px);
  height: 300px;
  a {
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 0.5rem;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  color: var(--text);
  opacity: 0.8;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.close:hover,
.close:focus {
  opacity: 1;
}

/* Hero Section Styles */

main {
  display: flex;
  align-items: center;
  margin: 0 12.5%;
  gap: 1rem;
  transition: margin-top 0.5s;
  flex-direction: column;
  justify-content: center;
}

.hero-wrapper {
  position: absolute;
  top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: max-content;
  gap: 1rem;
}

.hero-title {
  font-size: var(--step-hero);
  text-wrap: nowrap;
  line-height: 1;
  font-weight: 500;
}

.hero-description {
  font-size: var(--step-text);
  font-weight: 400;
}

.hero-description.sm {
  display: none;
}

.version {
  font-size: var(--step-text);
  font-weight: 400;

  opacity: 0.6;
}

.cta {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #006fd6 0% 40%, #0067c7, #0050d1);
  border-top: 0.5px solid hsl(209, 100%, 57%);
  color: var(--text);
  line-height: 1.25;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.2);
  min-width: fit-content;
  transition: all 0.3s ease;
}

.cta:hover {
  box-shadow: 0 5px 25px 1px rgba(0, 111, 214, 0.2);
}

.banner > a > img {
  position: absolute;
  user-select: none;
  z-index: -1;
  top: 65%;
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 7px;
  width: clamp(300px, 75vw, 1200px);
  aspect-ratio: 4 / 2;
  object-fit: cover;
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#131219, #131219) padding-box,
    linear-gradient(var(--angle), #070707, #006fd6) border-box;
  animation: 4s rotate linear infinite;
}

.banner.small {
  margin-top: 3rem;
  position: relative;
  margin-inline: auto;
  display: none;
  width: clamp(300px, 75vw, 1000px);
}

.card-title {
  font-size: var(--step-card-title);
  line-height: 1;
  margin-bottom: 4rem;
  font-weight: 500;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  max-width: 1200px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-wrap: balance;
  border-radius: 7px;
  height: 250px;
  width: 33%;
  padding: 2rem;
  gap: 1rem;
  h1 {
    font-size: var(--step-lg);
    width: max-content;
    line-height: 1;
  }
  p {
    font-size: var(--step-text);
    opacity: 0.8;
  }
}

hr {
  height: 100px;
  opacity: 0.2;
}

.even-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  gap: 3rem;
  width: 100%;
}

.even-columns h1 {
  font-size: clamp(2.5rem, 4.5vw, 5rem);
  line-height: 1.2;
  font-weight: 500;
  text-wrap: nowrap;
}

.even-columns img {
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#131219, #131219) padding-box,
    linear-gradient(var(--angle), #070707, #006fd6) border-box;
  animation: 4s rotate linear infinite;
  width: clamp(300px, 40vw, 750px);
  border-radius: 21px;
}

.even-columns p {
  font-size: var(--step-text);
  font-weight: 400;
  max-width: 544px;
  line-height: 1.5;
  text-wrap: balance;
}

section.features {
  min-height: 50vh;
  margin-bottom: 25vh;
}

section.debloat,
section.telemetry,
section.install,
section.performance {
  min-height: 75vh;
}

section.telemetry > .even-columns h1,
section.install > .even-columns h1 {
  order: 2;
}

section.telemetry > .even-columns img,
section.install > .even-columns img {
  background: linear-gradient(#131219, #131219) padding-box,
    linear-gradient(var(--angle), #070707, #6f8cd8) border-box;
}

section.opensource {
  /* margin-bottom: 12.5vh; */
}

.opensource-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}

.opensource-wrapper h1 {
  font-size: clamp(2.5rem, 4.5vw, 5rem);
  color: #1a90ff;
  line-height: 1.2;
}

.opensource-wrapper p {
  font-size: var(--step-text);
  max-width: 800px;
  font-weight: 400;
  line-height: 1.5;
  text-wrap: balance;
}

img.opensource {
  width: clamp(300px, 75vw, 1000px);
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#131219, #131219) padding-box,
    linear-gradient(var(--angle), #070707, #6f8cd8) border-box;
  animation: 4s rotate linear infinite;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #0c1531;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  gap: 3rem;
  padding-inline: 12.5%;
  padding-block: 3rem;
  width: 100%;
}

footer > .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer > .left > h1 {
  font-size: clamp(2.5rem, 4.5vw, 3rem);
  line-height: 1;
}

footer > .left > p {
  font-size: var(--step-text);
  font-weight: 400;
  max-width: 420px;
}

footer > .left > .icons {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

footer > .right {
  display: flex;
  gap: 3rem;
}

/* Media Queries */

@media screen and (max-width: 1600px) {
  .banner {
    display: none;
  }
  .banner.small {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  section.privacy {
    margin-top: -25vh;
  }
  .card-wrapper {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  hr {
    display: none;
  }
  .even-columns {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
  .even-columns img {
    width: clamp(300px, 75vw, 750px);
    flex: 1;
  }
  section.telemetry > .even-columns h1 {
    order: 0;
  }
  section.install > .even-columns h1 {
    order: 0;
  }
}

@media screen and (max-width: 800px) {
  .fa-solid.fa-bars-staggered {
    display: flex;
  }
  .nav-items {
    display: none;
  }
  .navbar.responsive {
    position: relative;
  }
  #nav-item-icon {
    display: block;
  }
  .navbar.responsive > i.fa-solid.fa-bars-staggered {
    display: none;
  }
  .navbar.responsive > i.fa-solid.fa-xmark {
    display: flex;
  }
  .navbar.responsive > #nav-item-icon {
    display: block;
  }
  .navbar.responsive > .nav-items.right {
    display: none;
  }
  .navbar.responsive > .nav-items {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0 4.5rem;
    font-size: var(--step-xxxxl);
    z-index: 2;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(5, 12, 31, 0.8);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  footer {
    flex-direction: column;
    height: 450px;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
    height: 40%;
  }

  .hero-description {
    display: none;
  }
  .hero-description.sm {
    display: block;
  }
}
