@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* General Styles */

:root {
  --background: #0c0f24;
  --background-light: #0d112b;
  --text: #fff;
  --cta: #006cd0;
  /* Font Sizes */
  --step-text: clamp(0.9rem, 0.2cqi + 0.9rem, 1.1rem);
  --step-md: clamp(1rem, 0.2cqi + 1rem, 1.5rem);
  --step-lg: clamp(1.4rem, 0.4cqi + 1.3rem, 1.8rem);
  --step-hero: clamp(30px, 6.5vw, 80px);
  --step-card-title: clamp(3rem, 3vw, 4rem);
  --step-xxxxl: clamp(2.5rem, 4.7vw, 8rem);
}

html {
  background: #050c1f;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242b42;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #576b75;
  height: 10px;
}

body {
  min-height: 100vh;
  color: var(--text);
  /* background-size: cover; */
  /* background-attachment: fixed; */
  font-family: "Inter", system-ui, sans-serif;
}

.radial-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.radial-wrapper .radial-bg {
  background: #0d3a63;
  animation: glow 2s alternate infinite;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
  height: 1000px;
  z-index: -99;
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.6);
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Styles */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 2.5%;
  margin: 0 12.5%;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  h1 {
    font-weight: 500;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 3rem;
  font-weight: 400;
  a {
    cursor: pointer;
  }
}

.nav-items.right {
  gap: 1.5rem;
  font-size: 1.5rem;
}

.fa-solid.fa-bars-staggered {
  display: none;
}

/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-flow: 1;
  backdrop-filter: blur(10px);
  background: rgba(12, 15, 36, 0.5);
  text-wrap: pretty;
  font-size: var(--step-md);
  gap: 1rem;
  margin: auto;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  width: clamp(300px, 50vw, 600px);
  height: 300px;
  a {
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 0.5rem;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  color: var(--text);
  opacity: 0.8;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.close:hover,
.close:focus {
  opacity: 1;
}

/* Hero Section Styles */

main {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0 12.5%;
  transition: margin-top 0.5s;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-wrapper {
  position: absolute;
  top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  gap: 1rem;
  /* max-width: 64ch; */
  /* gap: 1rem; */
}

.hero-title {
  font-size: var(--step-hero);
  text-wrap: nowrap;
  line-height: 1;
  font-weight: 500;
}

.hero-description {
  /* font-size: var(--step-md); */
  font-size: var(--step-text);
  font-weight: 400;
}

.hero-description.sm {
  display: none;
}

.version {
  font-size: var(--step-text);
  font-weight: 400;

  opacity: 0.6;
}

.cta {
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #006fd6 0% 40%, #0067c7, #0050d1);
  border-top: 0.5px solid hsl(209, 100%, 57%);
  color: var(--text);
  line-height: 1.25;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(5, 6, 15, 0.452);
  min-width: fit-content;
}

.banner > a > img {
  position: absolute;
  z-index: -1;
  top: 70%;
  left: 0;
  right: 0;
  margin-inline: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  width: clamp(300px, 75vw, 1200px);
  aspect-ratio: 4 / 2;
  object-fit: cover;
}

.banner.small {
  margin-top: 1rem;
  position: relative;
  margin-inline: auto;
  display: none;
  width: clamp(300px, 75vw, 1200px);
}

.card-title {
  font-size: var(--step-card-title);
  line-height: 1;
  margin-block: 3rem;
  font-weight: 500;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  max-width: 1200px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-wrap: balance;
  border-radius: 7px;
  height: 250px;
  width: 33%;
  padding: 2rem;
  gap: 1rem;
  h1 {
    font-size: var(--step-lg);
    width: max-content;
    line-height: 1;
  }
  p {
    font-size: var(--step-text);
    opacity: 0.8;
  }
}

hr {
  height: 50%;
  opacity: 0.2;
}

.card.download {
  h1 {
    font-size: var(--step-hero);
    font-weight: 500;
  }
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .card-wrapper {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  hr {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .banner > a > img {
    top: 75%;
  }
}

@media screen and (max-width: 800px) {
  .banner {
    display: none;
  }

  .banner.small {
    display: block;
  }

  .fa-solid.fa-bars-staggered {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .nav-items {
    display: none;
  }
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive > .nav-items.right {
    display: none;
  }
  .navbar.responsive > .nav-items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: var(--step-md);
    margin-inline: auto;
    top: 100px;
    left: 0;
    right: 0;
    gap: 1.5rem;
    border-radius: 15px;
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
    height: 40%;
  }

  .hero-description {
    display: none;
  }
  .hero-description.sm {
    display: block;
  }
}
