---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Tab from "../components/Tab.astro";
import ScriptToggle from "../components/ScriptToggle.astro";
import ScriptGroup from "../components/ScriptGroup.astro";
import AppGroup from "../components/AppGroup.astro";
import MockupCode from "../components/MockupCode.astro";
import ButtonEntry from "../components/ButtonEntry.astro";
import Select from "../components/Select.astro";

const packageManagers = [
  { value: "chocolatey", label: "Chocolatey" },
  { value: "winget", label: "Winget" },
];
---

<Layout>
  <div class="main-container">
    <Sidebar />
    <div class="content">
      <div class="content-header">
        <img class="nav-icon" width="16" src="/icons/nav.png" alt="" />
        <h1 id="content-header">WinScript</h1>
      </div>
      <div class="content-body">
        <Tab tab="tools">
          <details>
            <summary class="content-entry">
              <div>
                <img src="/icons/tools/shortcuts.png" alt="" />
                <div>
                  <h1>Shortcuts</h1>
                  <p>Shortcuts to various system settings and tools.</p>
                </div>
              </div>
              <img class="chevron" src="/icons/chevron-down.png" alt="" />
            </summary>

            <ButtonEntry title="Windows Settings" buttonTitle="Open" buttonId="openSettings" />

            <ButtonEntry title="Device Manager" buttonTitle="Open" buttonId="openDeviceManager" />

            <ButtonEntry title="Control Panel" buttonTitle="Open" buttonId="openControlPanel" />

            <ButtonEntry title="Visual Effects" buttonTitle="Open" buttonId="openVisualEffects" />

            <ButtonEntry title="MSConfig" buttonTitle="Open" buttonId="openMSConfig" />
          </details>

          <ScriptGroup
            title="Clean-up"
            description="Free up disk space by cleaning up temporary files."
            icon="/icons/tools/clean.png"
            tools={[
              { title: "Run Disk Cleanup", inputId: "cleanmgr" },
              { title: "Clean Temporary Files", inputId: "cleantemp" },
              { title: "Empty Recycle Bin", inputId: "emptyrecycle" },
            ]}
          />

          <ScriptGroup
            title="Verify System Integrity"
            description="Verifies the system files integrity and fixes corrupt files."
            icon="/icons/tools/sfc.png"
            tools={[
              {
                title: "DISM (Deployment Image Servicing Manager)",
                inputId: "dism",
              },
              { title: "SFC (System File Checker)", inputId: "sfc" },
            ]}
          />

          <ScriptToggle
            title="Create Restore Point"
            description="Creates a restore point before applying the scripts."
            icon="/icons/tools/restore.png"
            inputId="restorepoint"
          />

          <ScriptToggle
            title="Clear Browser History"
            description="Clears Chrome, Edge and Firefox history."
            icon="/icons/tools/browser.png"
            inputId="browserhistory"
          />

          <ScriptToggle
            title="Reset Network"
            description="Resets network IP address and cache."
            icon="/icons/tools/network.png"
            inputId="resetnetwork"
          />

          <ScriptToggle
            title="Run MAS"
            description="Runs Microsoft Activation Scripts."
            icon="/icons/tools/key.png"
            inputId="installmas"
          />
        </Tab>
        <Tab tab="debloat">
          <ScriptGroup
            title="Windows Apps"
            description="Uninstall pre-installed apps"
            icon="/icons/debloat/app.png"
            tools={[
              {
                title: "Remove Third-Party Apps",
                inputId: "thirdparty",
                description: "Uninstalls 3rd-party apps like Shazam, Spotify, Candy Crush etc.",
              },
              {
                title: "Remove Extensions",
                inputId: "extensions",
                description: "Uninstalls pre-installed extensions like HEVC, VP9 etc.",
              },
              {
                title: "Remove Microsoft Apps",
                inputId: "msapps",
                description: "Uninstalls pre-installed Microsoft apps like Clipchamp, People etc.",
              },
              {
                title: "Remove Xbox Apps",
                inputId: "xbox",
                description: "Uninstalls pre-installed Xbox apps.",
              },
            ]}
          />

          <ScriptGroup
            title="Windows Features"
            description="Disable pre-installed features"
            icon="/icons/debloat/features.png"
            tools={[
              {
                title: "Disable Consumer Features",
                inputId: "consumerfeatures",
                description:
                  "Provides suggestions and notifications to users, which may include installation of Windows Store apps.",
              },
              {
                title: "Disable Recall",
                inputId: "recall",
                description: "Saves snapshots of the user's screen and stores them locally.",
              },
              { title: "Disable Internet Explorer", inputId: "iexplorer" },
              {
                title: "Disable Hyper-V",
                inputId: "hyperv",
                description:
                  "Virtual machines might not work anymore after disabling this feature.",
              },
              { title: "Disable Fax & Scan", inputId: "faxscan" },
              { title: "Disable Media Player", inputId: "mediaplayer" },
            ]}
          />

          <ScriptToggle
            title="Remove MS Store"
            description="You can't install apps from Microsoft Store after uninstalling it."
            inputId="microsoftstore"
            icon="/icons/debloat/store.png"
          />

          <ScriptToggle
            title="Remove OneDrive"
            description="Be sure to backup your files before removing it."
            inputId="onedrive"
            icon="/icons/debloat/onedrive.png"
          />

          <ScriptToggle
            title="Debloat Edge"
            description="This will disable various telemetry and annoyances in Edge."
            inputId="debloatedge"
            icon="/icons/debloat/debloat-edge.png"
          />

          <ScriptToggle
            title="Remove Edge"
            description="Uninstalls the Edge Chromium browser."
            inputId="edge"
            icon="/icons/debloat/edge.png"
          />

          <ScriptToggle
            title="Remove Copilot"
            description="Removes the Copilot AI package completely."
            inputId="copilot"
            icon="/icons/debloat/copilot.png"
          />

          <ScriptToggle
            title="Remove Widgets"
            description="Removes the Web Experience package completely."
            inputId="widgets"
            icon="/icons/debloat/widgets.png"
          />

          <ScriptToggle
            title="Remove Taskbar Widgets"
            description="Disables taskbar widgets such as Task View, Weather, Chat etc."
            inputId="taskbarwidgets"
            icon="/icons/debloat/taskbarwidgets.png"
          />
        </Tab>
        <Tab tab="privacy">
          <ScriptGroup
            title="Disable App Access"
            description="Limit app access to data, files and system."
            icon="/icons/privacy/appaccess.png"
            tools={[
              {
                title: "Disable App Access to Location",
                inputId: "locationaccess",
              },
              { title: "Disable App Access to Camera", inputId: "cameraccess" },
              {
                title: "Disable App Access to Microphone",
                inputId: "microphoneaccess",
              },
              {
                title: "Disable App Access to File System",
                inputId: "systemaccess",
              },
              {
                title: "Disable App Access to Account Information",
                inputId: "accinfoaccess",
              },
              {
                title: "Disable App Access to your Contacts",
                inputId: "contactsaccess",
              },
              {
                title: "Disable App Access to your Call History",
                inputId: "callhistoryaccess",
              },
              {
                title: "Disable App Access to your Messages",
                inputId: "messagingaccess",
              },
              {
                title: "Disable App Access to Notifications",
                inputId: "notificationaccess",
              },
              { title: "Disable App Access to Email", inputId: "emailaccess" },
              { title: "Disable App Access to Tasks", inputId: "tasksaccess" },
              {
                title: "Disable App Access to Diagnostic Data",
                inputId: "diagaccess",
              },
              {
                title: "Disable App Access to Voice Activation",
                inputId: "voiceactivationaccess",
              },
              { title: "Disable App Access to Phone", inputId: "phoneaccess" },
              {
                title: "Disable App Access to Trusted Devices",
                inputId: "trustedaccess",
              },
              {
                title: "Disable App Access to Calendar",
                inputId: "calendaraccess",
              },
              {
                title: "Disable App Access to Motion Data",
                inputId: "motionaccess",
              },
              { title: "Disable App Access to Radios", inputId: "radioaccess" },
            ]}
          />

          <ScriptToggle
            title="Disable Cloud Sync"
            inputId="cloudsync"
            icon="/icons/privacy/cloud.png"
            description="Syncs settings, themes, passwords across Windows devices."
          />

          <ScriptToggle
            title="Disable Activity Feed"
            inputId="activityfeed"
            icon="/icons/privacy/activity.png"
            description="Stops Windows from collecting usage data."
          />

          <ScriptToggle
            title="Disable Notifications Tray"
            inputId="notificationtray"
            icon="/icons/privacy/notifications.png"
            description="Disables the notifications center in the taskbar."
          />

          <ScriptToggle
            title="Disable Screen Recording"
            inputId="screenrecording"
            icon="/icons/privacy/record.png"
            description="Disables Xbox Game Bar screen recording."
          />

          <ScriptToggle
            title="Disable Automatic Map Downloads"
            inputId="automap"
            icon="/icons/privacy/map.png"
            description="Stops automatic map downloads in background."
          />

          <ScriptToggle
            title="Disable Lockscreen Camera Access"
            inputId="lockscreencamera"
            icon="/icons/privacy/camera.png"
            description="Prevents the lockscreen camera from being invoked."
          />

          <ScriptToggle
            title="Disable Biometrics"
            inputId="biometrics"
            icon="/icons/privacy/biometrics.png"
            description="Enabling this will break Windows Hello biometrics authentication."
          />
        </Tab>
        <Tab tab="telemetry">
          <ScriptGroup
            title="Disable Telemetry"
            description="Choose what data is sent to Microsoft"
            icon="/icons/telemetry/telemetry.png"
            tools={[
              { title: "Disable Windows Telemetry", inputId: "wtelemetry" },
              { title: "Disable Windows Update Telemetry", inputId: "wupdate" },
              {
                title: "Disable Windows Search Telemetry",
                inputId: "wsearchtelemetry",
              },
              { title: "Disable Office Telemetry", inputId: "officetelemetry" },
              {
                title: "Disable Application Experience Data Collection",
                inputId: "appexperience",
              },
              {
                title: "Disable Feedback Data Collection",
                inputId: "wfeedback",
              },
              {
                title: "Disable Handwriting Data Collection",
                inputId: "handwriting",
              },
              {
                title: "Disable Clipboard Data Collection",
                inputId: "clipboard",
              },
              { title: "Disable Targeted Ads", inputId: "targetads" },
              {
                title: "Opt Out of Privacy Consent",
                inputId: "privacyconsent",
              },
            ]}
          />

          <ScriptGroup
            title="Disable 3rd-Party Telemetry"
            description="Choose what data is sent to 3rd-party software"
            icon="/icons/telemetry/3rdparty.png"
            tools={[
              { title: "Block Adobe Network", inputId: "adobetelemetry" },
              { title: "Disable Nvidia Telemetry", inputId: "nvidiatelemetry" },
              {
                title: "Disable VS Code Telemetry",
                inputId: "vscodetelemetry",
              },
              {
                title: "Disable Media Player Telemetry",
                inputId: "mediatelemetry",
              },
              {
                title: "Disable Powershell Telemetry",
                inputId: "powershelltelemetry",
              },
              {
                title: "Disable CCleaner Telemetry",
                inputId: "ccleanertelemetry",
              },
              {
                title: "Disable Google Background Updates",
                inputId: "googleupdates",
              },
              {
                title: "Disable Adobe Background Updates",
                inputId: "adobeupdates",
              },
            ]}
          />
        </Tab>
        <Tab tab="gaming">
          <ScriptToggle
            title="Disable Fullscreen Optimizations"
            inputId="fullscreenoptimizations"
            icon="/icons/gaming/fullscreen.png"
          />

          <ScriptToggle
            title="Disable Mouse Acceleration"
            inputId="mouseacc"
            icon="/icons/gaming/mouse.png"
          />

          <ScriptToggle
            title="Disable Game Bar"
            inputId="gamebar"
            icon="/icons/gaming/gamebar.png"
          />

          <ScriptToggle
            title="Disable Game Mode"
            inputId="gamemode"
            icon="/icons/gaming/gamemode.png"
          />
        </Tab>
        <Tab tab="performance">
          <ScriptGroup
            title="Set as DNS"
            description="You can only choose one, if you choose more, the last one will be applied."
            icon="/icons/performance/dns.png"
            tools={[
              { title: "Google DNS", inputId: "googledns" },
              { title: "Cloudflare DNS", inputId: "cloudflaredns" },
              { title: "Quad9 DNS", inputId: "quad9dns" },
              { title: "OpenDNS", inputId: "opendns" },
              { title: "AdGuard DNS", inputId: "adguardns" },
            ]}
          />

          <ScriptToggle
            title="Add Ultimate Performance"
            inputId="ultimateperformance"
            icon="/icons/performance/ultimate.png"
            description="This will add and enable the Ultimate Performance power plan."
          />

          <ScriptToggle
            title="Set Services to Manual"
            inputId="manualservices"
            icon="/icons/performance/manual.png"
            description="Sets various services startup behavior to manual, so they run only when needed."
          />

          <ScriptToggle
            title="Disable HAGS"
            inputId="hags"
            icon="/icons/performance/hags.png"
            description="Disables Hardware-Accelerated GPU Scheduling."
          />

          <ScriptToggle
            title="Limit Defender CPU Usage"
            inputId="limitdefender"
            icon="/icons/performance/limit.png"
            description="Limits Defender maximum CPU usage at 25% instead of default 50%."
          />

          <ScriptToggle
            title="Disable Core Isolation"
            inputId="coreisolation"
            icon="/icons/performance/vbs.png"
            description="Disables Core Isolation, may improve performance at the cost of security."
          />

          <ScriptToggle
            title="Disable Superfetch"
            inputId="disableprefetch"
            icon="/icons/performance/superfetch.png"
            description="Disables Superfetch/Prefetch, it may improve performance."
          />

          <ScriptToggle
            title="Disable Storage Sense"
            inputId="storagesense"
            icon="/icons/performance/storage.png"
            description="Background services that automatically deletes temporary files."
          />

          <ScriptToggle
            title="Disable Search"
            inputId="wsearch"
            icon="/icons/performance/search.png"
            description="Drive indexing will stop working."
          />

          <ScriptToggle
            title="Disable Hibernation"
            inputId="disablehibernation"
            icon="/icons/performance/hibernation.png"
            description="Not recommended on laptops."
          />
        </Tab>
        <Tab tab="miscellanous">
          <ScriptToggle
            title="Set Classic Right Click Menu"
            inputId="classicmenu"
            icon="/icons/misc/click.png"
            description="Restores the Windows 10 context menu on Windows 11."
          />

          <ScriptToggle
            title="Add End Task to Context Menu"
            inputId="endtask"
            icon="/icons/misc/end.png"
          />

          <ScriptToggle
            title="Move Taskbar Icons to Left"
            inputId="taskbarleft"
            icon="/icons/misc/taskbarleft.png"
          />

          <ScriptToggle
            title="Disable Numlock on Startup"
            inputId="numlockstartup"
            icon="/icons/misc/numlock.png"
          />

          <ScriptToggle title="Enable Dark Mode" inputId="darkmode" icon="/icons/misc/dark.png" />

          <ScriptToggle
            title="Show File Extensions"
            inputId="filextensions"
            icon="/icons/misc/show.png"
          />

          <ScriptToggle
            title="Disable Sticky Keys"
            inputId="stickykeys"
            icon="/icons/misc/sticky.png"
          />

          <ScriptToggle
            title="Disable Snap Layout"
            inputId="snapflyout"
            icon="/icons/misc/snap.png"
          />

          <ScriptToggle
            title="Enable Detailed BSOD"
            inputId="detailedbsod"
            icon="/icons/misc/bsod.png"
          />

          <ScriptToggle
            title="Enable Verbose Logon"
            inputId="verboselogon"
            icon="/icons/misc/verbose.png"
          />
        </Tab>
        <Tab tab="install">
          <input type="text" class="app-search" id="searchBar" placeholder="Search an app" />
          <div class="manual-input">
            <input
              id="manualInput"
              class="app-search"
              type="text"
              placeholder="Enter choco package"
            />
            <button id="addApp">Add App</button>
          </div>

          <div id="manualList"></div>

          <Select
            name="Package Manager"
            options={packageManagers}
            defaultValue="chocolatey"
            icon="/icons/install/browser.png"
          />
          <AppGroup
            title="Drivers"
            icon="/icons/install/drivers.png"
            apps={[
              {
                title: "Install Intel DSA",
                inputId: "Intel",
              },
              {
                title: "Install Nvidia Driver",
                inputId: "NVIDIA",
              },
              {
                title: "Install Ryzen Chipset",
                inputId: "Ryzen",
              },
            ]}
          />

          <AppGroup
            title="Browsers"
            icon="/icons/install/browser.png"
            apps={[
              { title: "Install Brave", inputId: "Brave" },
              {
                title: "Install Chrome",
                inputId: "Chrome",
              },
              {
                title: "Install Chromium",
                inputId: "Chromium",
              },
              {
                title: "Install Firefox",
                inputId: "Firefox",
              },
              {
                title: "Install Floorp",
                inputId: "Floorp",
              },
              {
                title: "Install LibreWolf",
                inputId: "LibreWolf",
              },
              { title: "Install Opera", inputId: "Opera" },
              {
                title: "Install Thorium",
                inputId: "Thorium",
              },
              { title: "Install Tor", inputId: "Tor" },
              {
                title: "Install Ungoogled",
                inputId: "Ungoogled",
              },
              {
                title: "Install Vivaldi",
                inputId: "Vivaldi",
              },
              {
                title: "Install Waterfox",
                inputId: "Waterfox",
              },
            ]}
          />

          <AppGroup
            title="Compression"
            icon="/icons/install/compression.png"
            apps={[
              { title: "Install 7Zip", inputId: "7Zip" },
              {
                title: "Install NanaZip",
                inputId: "NanaZip",
              },
              {
                title: "Install PeaZip",
                inputId: "PeaZip",
              },
              {
                title: "Install WinRAR",
                inputId: "WinRAR",
              },
            ]}
          />

          <AppGroup
            title="Gaming"
            icon="/icons/install/gaming.png"
            apps={[
              {
                title: "Install Borderless Gaming",
                inputId: "BorderlessGaming",
              },
              {
                title: "Install EA App",
                inputId: "EAApp",
              },
              {
                title: "Install Epic Games",
                inputId: "EpicGames",
              },
              {
                title: "Install FaceIT",
                inputId: "FaceIT",
              },
              {
                title: "Install GOG Galaxy",
                inputId: "GOGGalaxy",
              },
              {
                title: "Install LG Hub",
                inputId: "LGHub",
              },
              {
                title: "Install Minecraft",
                inputId: "Minecraft",
              },
              {
                title: "Install PlayNite",
                inputId: "PlayNite",
              },
              {
                title: "Install Prism Launcher",
                inputId: "PrismLauncher",
              },
              { title: "Install Steam", inputId: "Steam" },
              {
                title: "Install Ubisoft Connect",
                inputId: "UbisoftConnect",
              },
            ]}
          />

          <AppGroup
            title="Utilities"
            icon="/icons/install/utilities.png"
            apps={[
              {
                title: "Install 1Password",
                inputId: "1Password",
              },
              {
                title: "Install AnyDesk",
                inputId: "AnyDesk",
              },
              {
                title: "Install AutoHotkey",
                inputId: "AutoHotkey",
              },
              {
                title: "Install BitDefender",
                inputId: "BitDefender",
              },
              {
                title: "Install BitWarden",
                inputId: "BitWarden",
              },
              {
                title: "Install Bulk Crap Uninstaller",
                inputId: "BulkCrapUninstaller",
              },
              {
                title: "Install Bulk Rename Utility",
                inputId: "BulkRename",
              },
              {
                title: "Install CCleaner",
                inputId: "CCleaner",
              },
              { title: "Install CPU-Z", inputId: "CPU-Z" },
              { title: "Install DDU", inputId: "DDU" },
              {
                title: "Install Everything",
                inputId: "Everything",
              },
              {
                title: "Install FlowLauncher",
                inputId: "FlowLauncher",
              },
              {
                title: "Install FXSound",
                inputId: "FXSound",
              },
              { title: "Install GPU-Z", inputId: "GPU-Z" },
              {
                title: "Install HWInfo",
                inputId: "HWInfo",
              },
              {
                title: "Install HWMonitor",
                inputId: "HWMonitor",
              },
              {
                title: "Install ImgBurn",
                inputId: "ImgBurn",
              },
              {
                title: "Install JDownloader",
                inputId: "JDownloader",
              },
              {
                title: "Install KeePass",
                inputId: "KeePass",
              },
              {
                title: "Install Modern Flyouts",
                inputId: "ModernFlyouts",
              },
              {
                title: "Install MSI Afterburner",
                inputId: "Afterburner",
              },
              {
                title: "Install NileSoft Shell",
                inputId: "Shell",
              },
              {
                title: "Install Proton Drive",
                inputId: "ProtonDrive",
              },
              {
                title: "Install Proton Mail",
                inputId: "ProtonMail",
              },
              {
                title: "Install Proton Pass",
                inputId: "ProtonPass",
              },
              {
                title: "Install qBitTorrent",
                inputId: "qBitTorrent",
              },
              {
                title: "Install QuickLook",
                inputId: "QuickLook",
              },
              {
                title: "Install Rainmeter",
                inputId: "Rainmeter",
              },
              {
                title: "Install Revo Uninstaller",
                inputId: "Revo",
              },
              {
                title: "Install Snappy Driver Installer",
                inputId: "SnappyDriver",
              },
              {
                title: "Install StartAllBack",
                inputId: "StartAllBack",
              },
              {
                title: "Install TeamViewer",
                inputId: "TeamViewer",
              },
              {
                title: "Install TotalCommander",
                inputId: "TotalCommander",
              },
              {
                title: "Install TransluscentTB",
                inputId: "TransluscentTB",
              },
              {
                title: "Install VirtualBox",
                inputId: "VirtualBox",
              },
              {
                title: "Install WingetUI",
                inputId: "WingetUI",
              },
              {
                title: "Install WindHawk",
                inputId: "WindHawk",
              },
            ]}
          />

          <AppGroup
            title="Pro Tools"
            icon="/icons/install/protools.png"
            apps={[
              {
                title: "Install Advanced Ip Scanner",
                inputId: "AdvancedIpScanner",
              },
              { title: "Install Angry Ip Scanner", inputId: "AngryIpScanner" },
              { title: "Install MullvadVPN", inputId: "MullvadVPN" },
              { title: "Install OpenVPN", inputId: "OpenVPN" },
              { title: "Install ProtonVPN", inputId: "ProtonVPN" },
              { title: "Install PuTTY", inputId: "PuTTY" },
              { title: "Install SimpleWall", inputId: "SimpleWall" },
              { title: "Install WireShark", inputId: "WireShark" },
              { title: "Install WireGuard", inputId: "WireGuard" },
            ]}
          />

          <AppGroup
            title="Microsoft Tools"
            icon="/icons/install/microsoft.png"
            apps={[
              { title: "Install Autoruns", inputId: "Autoruns" },
              { title: "Install Nuget", inputId: "Nuget" },
              { title: "Install OneDrive", inputId: "OneDrive" },
              { title: "Install PowerToys", inputId: "PowerToys" },
              { title: "Install PowerBI", inputId: "PowerBI" },
              { title: "Install Process Monitor", inputId: "ProcessMonitor" },
              { title: "Install Visual C++ 15-22", inputId: "vcredist" },
              { title: "Install Windows Terminal", inputId: "WinTerminal" },
            ]}
          />

          <AppGroup
            title="Multimedia"
            icon="/icons/install/multimedia.png"
            apps={[
              { title: "Install AIMP", inputId: "AIMP" },
              { title: "Install Audacity", inputId: "Audacity" },
              { title: "Install Clementine", inputId: "Clementine" },
              { title: "Install DarkTable", inputId: "DarkTable" },
              { title: "Install digiKam", inputId: "digiKam" },
              { title: "Install EarTrumpet", inputId: "EarTrumpet" },
              { title: "Install EqualizerAPO", inputId: "EqualizerAPO" },
              { title: "Install FFmpeg", inputId: "FFmpeg" },
              { title: "Install foobar2000", inputId: "foobar2000" },
              { title: "Install FreeCAD", inputId: "FreeCAD" },
              { title: "Install HandBrake", inputId: "HandBrake" },
              { title: "Install ImageGlass", inputId: "ImageGlass" },
              { title: "Install iTunes", inputId: "iTunes" },
              { title: "Install Jellyfin", inputId: "Jellyfin" },
              { title: "Install K-Lite Codec Pack", inputId: "KLite" },
              { title: "Install MediaMonkey", inputId: "MediaMonkey" },
              { title: "Install MuseScore", inputId: "MuseScore" },
              { title: "Install OBS", inputId: "OBS" },
              { title: "Install Plex", inputId: "Plex" },
              { title: "Install Spicetify", inputId: "Spicetify" },
              { title: "Install Spotify", inputId: "Spotify" },
              { title: "Install Stremio", inputId: "Stremio" },
              { title: "Install VLC", inputId: "VLC" },
              { title: "Install VoiceMeeter", inputId: "VoiceMeeter" },
            ]}
          />

          <AppGroup
            title="Comunication"
            icon="/icons/install/comunication.png"
            apps={[
              { title: "Install Discord", inputId: "Discord" },
              { title: "Install Signal", inputId: "Signal" },
              { title: "Install Skype", inputId: "Skype" },
              { title: "Install Slack", inputId: "Slack" },
              { title: "Install Teams", inputId: "Teams" },
              { title: "Install Telegram", inputId: "Telegram" },
              { title: "Install Thunderbird", inputId: "Thunderbird" },
              { title: "Install Zoom", inputId: "Zoom" },
              { title: "Install Zulip", inputId: "Zulip" },
            ]}
          />

          <AppGroup
            title="Imaging"
            icon="/icons/install/imaging.png"
            apps={[
              { title: "Install Blender", inputId: "Blender" },
              { title: "Install GIMP", inputId: "GIMP" },
              { title: "Install Greenshot", inputId: "Greenshot" },
              { title: "Install inkScape", inputId: "inkScape" },
              { title: "Install KdenLive", inputId: "KdenLive" },
              { title: "Install Krita", inputId: "Krita" },
              { title: "Install LightShot", inputId: "LightShot" },
              { title: "Install ShareX", inputId: "ShareX" },
            ]}
          />

          <AppGroup
            title="Documents"
            icon="/icons/install/documents.png"
            apps={[
              { title: "Install Adobe Acrobat Reader", inputId: "AdobeReader" },
              { title: "Install AFFiNE", inputId: "AFFiNE" },
              { title: "Install FoxIt Reader", inputId: "FoxItReader" },
              { title: "Install Joplin", inputId: "Joplin" },
              { title: "Install LibreOffice", inputId: "LibreOffice" },
              { title: "Install LogSeq", inputId: "LogSeq" },
              { title: "Install Obsidian", inputId: "Obsidian" },
              { title: "Install OpenOffice", inputId: "OpenOffice" },
              { title: "Install PDF24", inputId: "PDF24" },
              { title: "Install simplenote", inputId: "simplenote" },
              { title: "Install SumatraPDF", inputId: "SumatraPDF" },
            ]}
          />

          <AppGroup
            title="Security"
            icon="/icons/install/security.png"
            apps={[
              { title: "Install Avast", inputId: "Avast" },
              { title: "Install AVG", inputId: "AVG" },
              { title: "Install MalwareBytes", inputId: "MalwareBytes" },
            ]}
          />

          <AppGroup
            title="For Developers"
            icon="/icons/install/developers.png"
            apps={[
              { title: "Install Clink", inputId: "Clink" },
              { title: "Install Cursor", inputId: "Cursor" },
              { title: "Install Docker Desktop", inputId: "Docker" },
              { title: "Install Git", inputId: "Git" },
              { title: "Install GitHub Desktop", inputId: "GitHub" },
              { title: "Install GitHub CLI", inputId: "GitHubCLI" },
              { title: "Install Go", inputId: "Go" },
              { title: "Install Godot", inputId: "Godot" },
              { title: "Install JDK 8", inputId: "Java" },
              { title: "Install Neovim", inputId: "Neovim" },
              { title: "Install NET 4.8", inputId: "NET48" },
              { title: "Install NET 8", inputId: "NET8" },
              { title: "Install NodeJS", inputId: "NodeJS" },
              { title: "Install Notepad++", inputId: "Notepad++" },
              { title: "Install Oh My Posh", inputId: "OhMyPosh" },
              { title: "Install Python 3", inputId: "Python3" },
              { title: "Install Rust", inputId: "Rust" },
              { title: "Install Sublime Text", inputId: "SublimeText" },
              { title: "Install VS Code", inputId: "VSCode" },
              { title: "Install VS Codium", inputId: "VSCodium" },
              { title: "Install Visual Studio", inputId: "VS" },
              { title: "Install WSL 2", inputId: "WSL2" },
              { title: "Install Yarn", inputId: "Yarn" },
            ]}
          />
        </Tab>
        <Tab tab="script">
          <MockupCode />

          <ButtonEntry
            title="Run Script"
            buttonTitle="Run"
            buttonId="runBtn"
            icon="/icons/script/run.png"
          />

          <ButtonEntry
            title="Copy to Clipboard"
            buttonTitle="Copy"
            buttonId="copyBtn"
            icon="/icons/script/copy.png"
          />

          <details>
            <summary class="content-entry">
              <div>
                <img src="/icons/script/preset.png" alt="" />
                <div>
                  <h1>Presets</h1>
                  <p></p>
                </div>
              </div>
              <img class="chevron" src="/icons/chevron-down.png" alt="" />
            </summary>

            <div class="content-entry about">
              <div>
                <div>
                  <p>
                    <b>1) Important</b>
                    <br />
                    <i>Review [ALL] the scripts one by one before executing it.</i>
                    <br />
                    <br />
                    <b>2) Table</b>
                    <br />
                    <i
                      >You can find a table comparing the presets <a
                        style="text-decoration: underline;"
                        target="_blank"
                        href="https://docs.winscript.cc/#/content/presets">here.</a
                      ></i
                    >
                    <br />
                    <br />
                    <b>3) Select</b>
                    <br />
                    <i>Selecting a preset will override your current settings.</i>
                    <br />
                    <br />
                    <b>Basic Preset</b>: Reccomended, good balance beetween privacy/performance and
                    functionality.
                    <br />
                    <br />
                    <b>Strict Preset</b>: Heavy focus on privacy and performance although it
                    disables some non-essential features.
                    <br />
                    <br />
                    <b>Extreme Preset</b>: Not reccomended, use only if you know what you're doing.
                  </p>
                </div>
              </div>
            </div>

            <ButtonEntry
              title="Basic Preset"
              buttonTitle="Apply"
              buttonId="basicPreset"
              description="Reccomended, good balance beetween privacy/performance and functionality."
            />

            <ButtonEntry
              title="Strict Preset"
              buttonTitle="Apply"
              buttonId="strictPreset"
              description="Heavy focus on privacy and performance, it disables some non-essential features."
            />

            <ButtonEntry
              title="Extreme Preset"
              buttonTitle="Apply"
              buttonId="extremePreset"
              description="Not reccomended, use only if you know what you're doing."
            />
          </details>
        </Tab>
      </div>
    </div>
  </div>
</Layout>
