<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Open-source tool to build your Windows script from scratch."
    />
    <meta name="google-site-verification" content="a0Ab5gGg8BM_I9xeKMC92vcmuInJxfZIlJCSi74OQ0k" />
    <meta name="theme-color" content="#0d091b" />

    <link rel="canonical" href="https://winscript.cc" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/animations.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script is:inline src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js"
    ></script>

    <!-- Lenis -->
    <script is:inline src="https://unpkg.com/lenis@1.2.3/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.2.3/dist/lenis.css" />

    <title>WinScript | Make Windows Yours.</title>
  </head>

  <body>
    <slot />
  </body>

  <script defer src="/main.js"></script>
</html>
