---
import "../assets/styles/reset.css";
import "../assets/styles/daisyui.css";
import "../assets/styles/style.css";
import "../assets/styles/atom-one.css";
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="Build your Windows 10/11 script from scratch." />
    <title>WinScript | Online</title>

    <link rel="icon" href="/favicon.ico" />

    <link rel="canonical" href="https://winscript.cc/online" />

    <script src="https://code.iconify.design/iconify-icon/2.2.0/iconify-icon.min.js"></script>
  </head>
  <body>
    <slot />
  </body>

  <script>
    // @ts-nocheck
    import hljs from "highlight.js/lib/core";
    import dos from "highlight.js/lib/languages/dos";
    import powershell from "highlight.js/lib/languages/powershell";

    hljs.registerLanguage("powershell", powershell);
    hljs.registerLanguage("dos", dos);

    window.hljs = hljs;

    hljs.highlightAll();
  </script>

  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/appinstall.js"></script>
  <script src="../assets/js/scripts.js"></script>
</html>
