<div class="mockup-code">
  <div id="code" class="code">
    <div>
      <pre><code class="language-dos">:: WinScript </code></pre>
    </div>
    <div>
      <pre><code class="language-dos">@echo off</code></pre>
    </div>

    <div>
      <pre><code class="language-dos" /></pre>
      <pre><code class="language-dos">:: Check if the script is running as admin</code></pre>
      <pre><code class="language-dos">openfiles >nul 2>&1</code></pre>
      <pre><code class="language-dos">if %errorlevel% neq 0 (</code></pre>
      <pre><code class="language-dos">    color 4</code></pre>
      <pre><code class="language-dos">    echo This script requires administrator privileges.</code></pre>
      <pre><code class="language-dos">    echo Please run WinScript as an administrator.</code></pre>
      <pre><code class="language-dos">    pause</code></pre>
      <pre><code class="language-dos">    exit</code></pre>
      <pre><code class="language-dos">)</code></pre>
      <pre><code class="language-dos" /></pre>
    </div>

    <div>
      <pre><code class="language-dos">:: Admin privileges confirmed, continue execution</code></pre>
      <pre><code class="language-dos">setlocal EnableExtensions DisableDelayedExpansion</code></pre>
    </div>
    <div class="restore-container">
      <pre><code class="language-dos" /></pre>
      <pre><code class="language-dos">echo -- Creating a restore point:</code></pre>
      <pre><code class="language-dos">powershell -command "Enable-ComputerRestore -Drive $env:SystemDrive ; Checkpoint-Computer -Description "RestorePoint1" -RestorePointType "MODIFY_SETTINGS""</code></pre>
    </div>
    <div class="chocolatey-container">
      <pre><code class="language-dos" /></pre>
      <pre><code class="language-dos">echo -- Installing Chocolatey:</code></pre>
      <pre><code class="language-dos">powershell -command "Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))"</code></pre>
    </div>
    <div class="winget-container">
      <pre><code class="language-dos" /></pre>
      <pre><code class="language-dos">echo -- Update Winget:</code></pre>
      <pre><code id="wingetUpgrade" class="language-dos" /></pre>
    </div>
    <div class="scripts-container">
      <pre><code class="allScripts" /></pre>
      <pre><code class="language-dos" /></pre>
    </div>
    <div class="mas-container">
      <pre><code class="language-dos">echo -- Running MAS</code></pre>
      <pre><code class="language-dos">powershell -command "irm https://get.activated.win | iex"</code></pre>
      <pre><code class="language-dos" /></pre>
    </div>
    <div class="div-install">
      <pre
        class="choco-refresh"><code class="language-dos">echo -- Refresh environment: </code></pre>
      <pre
        class="choco-refresh"><code class="language-dos">call "%ProgramData%\chocolatey\bin\RefreshEnv.cmd"</code></pre>
      <pre><code class="language-dos">echo -- Installing these apps: </code></pre>
      <pre><code class="language-dos">echo -- </code><span class="installingApps" /></pre>
      <pre><code class="commandDisplay" /></pre>
      <pre><code class="language-dos" /></pre>
    </div>
    <div>
      <pre><code class="language-dos">:: Pause the script</code></pre>
    </div>
    <div>
      <pre><code class="language-dos">pause</code></pre>
    </div>
    <div>
      <pre><code class="language-dos">:: Restore previous environment</code></pre>
    </div>
    <div>
      <pre><code class="language-dos">endlocal</code></pre>
    </div>
    <div>
      <pre><code class="language-dos">:: Exit the script</code></pre>
    </div>
    <div>
      <pre><code class="language-dos">taskkill /f /im explorer.exe & start explorer & exit /b 0</code></pre>
    </div>
  </div>
</div>

<style>
  .mockup-code {
    overflow: auto;
    max-width: 100%;
    min-height: 333px;
    max-height: 333px;
    background-color: hsl(from var(--text) h s l / 0.055);
    border-radius: 5px;
  }

  .mas-container,
  .restore-container {
    display: none;
  }

  .code,
  .scripts-container {
    margin-left: 1rem;
  }
  @media (max-height: 650px) {
    .mockup-code {
      min-height: 300px;
      max-height: 300px;
    }
  }
</style>
