---
interface Props {
  t: any;
}

const { t } = Astro.props;
---

<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <img src="logo.svg" width="56" alt="" />
    <div class="sidebar-user">
      <h1 id="username">WinScript <span id="version"></span></h1>
      <p><a target="_blank" href="https://github.com/flick9000/">github.com/flick9000</a></p>
    </div>
  </div>
  <button id="uncheckAll">{t["sidebar.uncheckAll"]}</button>
  <div class="sidebar-buttons">
    <button id="importBtn">{t["sidebar.import"]}</button>
    <button id="exportBtn">{t["sidebar.export"]}</button>
  </div>
  <div class="sidebar-content">
    <div data-tab="tools-tab" class="sidebar-entry">
      <img src="/icons/sidebar/tools.svg" alt="" />
      <h1>{t["nav.tools"]}</h1>
    </div>
    <div data-tab="debloat-tab" class="sidebar-entry">
      <img src="/icons/sidebar/debloat.ico" alt="" />
      <h1>{t["nav.debloat"]}</h1>
    </div>
    <div data-tab="privacy-tab" class="sidebar-entry">
      <img src="/icons/sidebar/privacy.svg" alt="" />
      <h1>{t["nav.privacy"]}</h1>
    </div>
    <div data-tab="telemetry-tab" class="sidebar-entry">
      <img src="/icons/sidebar/telemetry.svg" alt="" />
      <h1>{t["nav.telemetry"]}</h1>
    </div>
    <div data-tab="gaming-tab" class="sidebar-entry">
      <img src="/icons/sidebar/Gaming.png" alt="" />
      <h1>{t["nav.gaming"]}</h1>
    </div>
    <div data-tab="performance-tab" class="sidebar-entry">
      <img src="/icons/sidebar/performance.svg" alt="" />
      <h1>{t["nav.performance"]}</h1>
    </div>
    <div data-tab="miscellanous-tab" class="sidebar-entry">
      <img src="/icons/sidebar/miscellanous.svg" alt="" />
      <h1>{t["nav.miscellaneous"]}</h1>
    </div>
    <div data-tab="install-tab" class="sidebar-entry">
      <img src="/icons/sidebar/app.svg" alt="" />
      <h1>{t["nav.install"]}</h1>
    </div>
    <hr />
    <div data-tab="script-tab" class="sidebar-entry">
      <img src="/icons/sidebar/code.svg" alt="" />
      <h1>{t["nav.script"]}</h1>
    </div>
  </div>
  <div class="sidebar-footer">
    <hr />
    <div data-tab="localizations-tab" class="sidebar-entry">
      <img src="/icons/sidebar/languages.svg" alt="" />
      <h1>{t["nav.localizations"]}</h1>
    </div>
  </div>
</div>

<style>
  .sidebar-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 2.5rem;
  }
  @keyframes slide-in {
    from {
      transform: translateX(-150%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes sidebar-border-fade {
    from {
      border-color: transparent;
    }
    to {
      border-color: hsl(from var(--text) h s l / 0.8);
    }
  }
  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    top: 0;
    gap: 16px;
    padding-top: calc(1.5rem + 32px);
    min-width: 300px;
    margin-left: 1rem;
    /* border: 1px solid red; */
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .sidebar-user {
    display: flex;
    flex-direction: column;
  }

  .sidebar-user h1 {
    font-weight: 500;
  }

  .sidebar-buttons {
    display: flex;
    gap: 8px;
  }

  .sidebar-buttons button {
    width: 100%;
  }

  .sidebar-user > p {
    font-size: 12px;
    color: var(--muted);
    font-weight: 400;
  }

  .sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .sidebar-entry {
    width: 100%;
    padding-inline: 8px;
    border-radius: 5px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-left: 4px solid transparent;
  }

  .sidebar-entry:hover {
    background-color: hsl(from var(--text) h s l / 0.08);
  }

  .sidebar-entry.active {
    background-color: hsl(from var(--text) h s l / 0.08);
    animation: sidebar-border-fade 0.3s ease forwards;
  }

  .sidebar-entry > img {
    max-width: 22px;
  }
  @media screen and (max-width: 800px) {
    .sidebar {
      display: none;
    }

    .nav-icon {
      display: flex;
    }

    .sidebar.responsive {
      display: flex;
    }
  }

  @media (min-width: 800px) {
    .sidebar {
      animation: slide-in 0.3s ease forwards;
    }
  }
</style>
