<div data-tauri-drag-region class="titlebar">
  <div class="logo">
    <img src="/favicon.ico" width="16" alt="" />
    <h1>WinScript</h1>
  </div>
  <div class="controls">
    <button class="control minimize">
      <svg width="12" height="12" viewBox="0 0 10 1" fill="currentColor">
        <rect width="10" height="1"></rect>
      </svg>
    </button>
    <button class="control close">
      <svg width="12" height="12" viewBox="0 0 10 10" fill="currentColor">
        <path d="M0.707 0L10 9.293 9.293 10 0 0.707zM9.293 0L10 0.707 0.707 10 0 9.293z"></path>
      </svg>
    </button>
  </div>
</div>

<style>
  *[data-tauri-drag-region] {
    app-region: drag;
  }
  .titlebar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    width: 100%;
    z-index: 999 !important;
    padding-left: 12px;
    padding-top: 6px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: var(--text);
  }
  .controls {
    display: flex;
    margin-top: -6px;
    app-region: no-drag;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: initial;
    width: 48px;
    height: 32px;
    margin-top: -1px;
    margin-right: 1px;
    background: transparent;
    border: none;
    border-radius: 0;
  }
  @media (prefers-color-scheme: light) {
    button {
      background: transparent !important;
      background-color: transparent !important;
      border: none !important;
    }
  }
  button:hover {
    background-color: hsl(from var(--text) h s l / 0.06);
    box-shadow:
      0px -5px 0px 0px hsl(from var(--text) h s l / 0.06),
      0px 0px 0px 0px transparent;
  }
  button.close:hover {
    background-color: hsl(from #c42b1c h s l / 1);
    box-shadow:
      0px -5px 0px 0px #c42b1c,
      5px 0px 0px 0px #c42b1c;
  }
</style>

<script>
  import { getCurrentWindow } from "@tauri-apps/api/window";
  const window = getCurrentWindow();

  document.querySelector(".minimize").addEventListener("click", () => {
    window.minimize();
  });
  document.querySelector(".close").addEventListener("click", () => {
    window.close();
  });
</script>
