<div id="titlebar">
    <div data-tauri-drag-region></div>
</div>

<style>
    #titlebar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 32px;
        width: 100%;
        z-index: 999;
    }
</style>
