@media (prefers-color-scheme: light) {
    .hljs{
        color:#383a42 !important;
    }
    .hljs-comment,.hljs-quote{
        color:#a0a1a7 !important;
        font-style:italic !important;
    }
    .hljs-doctag,.hljs-formula,.hljs-keyword{
        color:#a626a4 !important;
    }
    .hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{
        color:#e45649 !important;
    }
    .hljs-literal{
        color:#0184bb !important;
    }
    .hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
        color:#50a14f !important;
    }
    .hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{
        color:#986801 !important;
    }
    .hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{
        color:#4078f2 !important;
    }
    .hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{
        color:#c18401 !important;
    }
    .hljs-emphasis{
        font-style:italic !important;
    }
    .hljs-strong{
        font-weight:700 !important;
    }
    .hljs-link{
        text-decoration:underline !important;
    }
    
}

.hljs{
    color:#abb2bf
}
.hljs-comment,.hljs-quote{
    color:#5c6370;
    font-style:italic
}
.hljs-doctag,.hljs-formula,.hljs-keyword{
    color:#c678dd
}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{
    color:#e06c75
}
.hljs-literal{
    color:#56b6c2
}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{
    color:#98c379
}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{
    color:#d19a66
}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{
    color:#61aeee
}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{
    color:#e6c07b
}
.hljs-emphasis{
    font-style:italic
}
.hljs-strong{
    font-weight:700
}
.hljs-link{
    text-decoration:underline
}
 