/* Author: @flick9000 */
/* Global Styling */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  min-height: 90vh;
  gap: 3vh;
}

.tooltip::before {
  max-width: 24ch;
  text-wrap: balance;
}

/* Header Styling */

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    font-size: clamp(1rem, 1.7vw, 1rem);
  }
  .title {
    font-size: clamp(3rem, 8vw, 5rem);
    font-weight: bold;
    user-select: none;
  }
}

.links-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  a {
    border-bottom: 1px solid #a6adbb;
  }
}

/* Main Content Styling */

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.vl {
  position: relative;
  top: 1rem;
  min-height: 350px;
  border-left: 5px solid rgba(42, 50, 60, 0.5);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(50px, 19vw, 320px);
  height: 10rem;
  user-select: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card {
  display: none;
  width: clamp(50px, 38vw + 8px, 648px);
  height: calc(20rem + 8px);
  overflow: scroll;
  user-select: none;
  border-radius: 15px;
  padding: 1rem;
  gap: 1rem;
}

.card::-webkit-scrollbar {
  display: none; /* for Chrome, Safari and Opera */
}

.card {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Code Styling */

.mockup-code {
  overflow: auto;
  scrollbar-width: thin;
  width: clamp(250px, 40vw, 675px);
  max-height: 330px;
}

.code,
.scripts-container {
  margin-left: 1rem;
}

.restore-container {
  display: none;
}

/* Collapse Styling */

.checkbox-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.collapsable-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 8px;
}

details {
  margin-left: 2rem;
  cursor: pointer;
}
summary {
  margin-left: -2rem;
}

summary::before {
  font-family: "Font Awesome 6 Free";
  content: "\f105";
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  font-weight: 900;
}

details[open] summary::before {
  transform: rotate(90deg);
}

details > summary,
details[open] > summary {
  list-style-type: none;
}

summary > span {
  margin-left: 1rem;
}

/* Media Queries Responsive Design */

@media (max-width: 700px) {
  .main-container {
    min-height: 100vh;
    gap: 8px;
  }
  .main-wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .links-container,
  .description {
    display: none;
  }
  .build-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .vl {
    display: none;
  }
  .box {
    width: clamp(140px, 30vw, 200px);
    height: 8rem;
  }
  .card {
    width: clamp(280px + 8px, 60vw + 8px, 400px + 8px);
    height: calc(16rem + 8px);
  }
  .code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mockup-code {
    width: clamp(250px, 60vw, 400px + 8px);
    height: 16rem;
  }
}

@media (max-width: 700px) and (max-height: 737px) {
  .main-container {
    min-height: 100vh;
    gap: 1.5rem;
  }
  .main-wrapper {
    gap: 1.5rem;
  }
  .box {
    height: 6rem;
  }
  .card {
    height: calc(12rem + 8px);
  }
  .mockup-code {
    height: 12rem;
  }
}
