---
// AppToggle.astro
const { title, desc, inputId } = Astro.props;
---

<div class="content-entry">
  <div>
    <div>
      <h1>{title}</h1>
      <p>{desc}</p>
    </div>
  </div>
  <div class="checkbox-wrapper">
    <span class="indicator" id="indicator">Off</span>
    <label class="switch">
      <input js-target="install" id={inputId} type="checkbox" />
      <span class="slider"></span>
    </label>
  </div>
</div>
